:root{
  --header_pad_tb: 0px;
  --header_height: 6vh;
  --back_color: white;
  --bord_color: blue;
  --hover_color: cornflowerblue;
  --bound_box: nonte; /*1px solid red;*/

}
div.header {
  position: fixed;
  width: 99%;
  height: var(--header_height);
  min-height: 40px;
  top: 0;
  left:0.5%;
  padding: var(--header_pad_tb) 0px;
  border: 3px solid var(--bord_color);
  background-color: var(--back_color); /*var(--back_color);*/
  opacity: 0.8;
  overflow: visible; /*THIS NEEDS TO CHANGE*/
  z-index: 100;
}

p.test{
  font-size: xx-large;
  padding-top: 1000px;
  color: red;
}

div.header_partition{
  position: absolute;
  height: 100%;
  top:var(--header_pad_tb);
  --buff: 0.5%;
  border: var(--bound_box);
}
div.header_partition.header_left{
  left:var(--buff);
  width: 29%;
}
div.header_partition.header_right {
  right: var(--buff);
  width: 69%;
}

div.title_logo {
  float:left;
  height: var(--header_height);
  text-align: center;
  width: 47%;  
  border: var(--bound_box);
} 

div.menu_links {
  float:right;
  height: 100%;
  text-align: center;
  width: 12%; 
  min-width: calc(5em + 1.5em);
  border: var(--bound_box);
}

div.menu_links:hover {
  /*background-color: var(--hover_color);
  opacity: 0.4;*/
  border: 2px ridge var(--bord_color);
  height: calc(100% - 4px);
}

a.header_links {
  display: block;
  color: var(--bord_color);
  font-size: 1.5em;
  text-decoration: none;
  padding-top: calc(var(--header_height) / 4);
}

div.map_box {
  position: relative;
  width: 99%;
  height: 85vh;
  margin-top: calc(var(--header_height) + 40px);
  left:0.5%;
  /*border: 4px outset var(--bord_color); var(--bound_box);*/
  box-shadow: 2px 2px 7px 5px var(--bord_color);
  overflow: hidden;
  z-index:0;
  background-image: url(../Frugality_App/pictures/map.png);
  background-position: top left;
  background-size: 100% 100%;
  background-repeat: none;

}

div.search_box{
  position: absolute;
  top: 3vw;
  left: 2vw;
  height: 100px;
  width: 300px;
  border: var(--bound_box);
}

input.search_box {
  font-size: 1.2em;
  padding: 5px 0px 5px 15px;
  border:2px solid var(--bord_color);
  background-color: var(--back_color);
  opacity: 0.85;
  border-radius: 12px;
  color: black;  
  font-size: 1.2em;
  font-family: 'Times New Roman', Times, serif;
}

input.search_box::placeholder {
  color: black;
  opacity: 0.4;
  font-size: 1.1em;
  font-family: 'Times New Roman', Times, serif;
}

input.location {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(50% - 6px);
  width: 100%;
}

input.special{
  position: absolute;
  bottom: 0;
  left: 0;
  height: calc(50% - 6px);
  width: calc(60% - 6px);
}

div.filter_day{
  position: absolute;
  right: 0;
  bottom: 0;
  height: calc(50% - 9px);
  width: calc(40% - 6.5px);
  font-size: 1.2em;
  border:2px solid var(--bord_color);
  background-color: var(--back_color);
  opacity: 0.85;
  border-radius: 12px;
}

input:focus, textarea:focus, select:focus{
  outline: none;
  font-size: 1.2em;
}

.dropdown_btn {
  float: right;
  height: 100%;
  width: 40px;
  background-image: url("../Frugality_App/pictures/Sort_down_font_awesome.svg");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: left center;
  background-color: var(--back_color);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  outline: none;
  border: none;
}
.dropdown_btn:focus {
  border-style: inset;
  border-color: var(--bord_color);
}

a.search_box {
  font-size: 1.2em;
  color: black;
  float: left;
  height: 100%;
  width: 40%;
  padding: 4% 6%;
  opacity: 0.4;
}

div.search_dropdown{
  position: absolute;
  max-height: 400px;
  z-index: 1;
  visibility: visible;
  display: none;
  border: 2px solid var(--bord_color);
  border-top: none;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: auto;
  background-color: white; /*rgb(209, 219, 238);*/
  opacity: 0.85;
}

div.location_search_results {
  top: calc(50% - 6px);
  left: 0px;
  width: calc(100% - 4px);
  height: 300px;
}

div.specials_search_results {
  top: 100%;
  left: 0;
  width: calc(60% - 10px);
  height: 300px;
}

div.day_search_results {
  top: 100%;
  left: calc(60% + 3px);
  width: calc(40% - 7px);
  height: 300px;
}


